@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* styles.css or a relevant CSS file */
.loader {
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-top: 8px solid #3498db; /* Change to your preferred color */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  